BasedOnStyle: LLVM

ColumnLimit:     120
IndentWidth:     4

IndentPPDirectives: BeforeHash

AlignArrayOfStructures: Left
AlignConsecutiveMacros: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false

AllowAllParametersOfDeclarationOnNextLine: true

BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      false
  AfterControlStatement: Never
  AfterEnum:       false
  AfterExternBlock: false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

BreakBeforeBraces: Custom
BreakAfterReturnType: TopLevel

EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Always

AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Empty
IndentCaseLabels: true

SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: true
BinPackArguments: false
BinPackParameters: OnePerLine
