BasedOnStyle: LLVM

#
# General
#

ColumnLimit: 100
IndentWidth: 4
MaxEmptyLinesToKeep: 2

#
# Indentation
#

IndentCaseLabels: true
IndentPPDirectives: BeforeHash
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false

#
#  Empty lines
#

EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Always

#
# Alignment
#

AlignArrayOfStructures: Left

AlignConsecutiveAssignments:
  Enabled: yes
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  AlignFunctionDeclarations: false
  AlignFunctionPointers: true
  PadOperators: true

AlignConsecutiveBitFields:
  Enabled: true

AlignConsecutiveMacros: true

AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

AlignConsecutiveTableGenDefinitionColons:
  Enabled: true

#
# Wrapping
#

AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse

BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

BinPackArguments: false
BinPackParameters: OnePerLine

BreakBeforeBraces: Custom
BreakAfterReturnType: TopLevel

#
# Comments
#

FixNamespaceComments: false